<h2> Search Results </h2>

<% if @result %>
  <ul>
    <li><a href="/albums/<%= @result.id %>"><%= @result.name %></a></li>
  </ul>
<% else %>
  <p>Could not find an album called <%= @name %></p>
<% end %>
  <a href="/albums">Return to album list</a>
